.poster-image {
  max-height: 300px;
  object-fit: cover;
}

.comment-rating {
  font-weight: bold;
  margin-left: 10px;
}

.comment-date {
  color: #777;
  font-size: 0.85rem;
  margin-right: 10px;
}

.card-body h2,
.card-body h3,
.card-body h4 {
  font-weight: bold;
}

.form-label span.text-danger {
  margin-left: 5px;
}